/* Updated CSS for Task Details Card */
.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .taskDetailsCard {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .taskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
  }
  
  .category {
    background-color: #00a0df;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    max-width: fit-content; /* Added to limit the width to the content */
  }
  
  .authorInfo {
    font-size: 18px;
    color: black;
    margin-top: 15px;
  }
  
  .descriptionWrapper {
    margin-top: 20px;
    color: black;
    margin-bottom: 20px;
  }

  .description {
    font-size: 20px;
  }

  .editButton {
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-block;
  }
  
  .editButton {
    background-color: #ffc107; /* Yellow color */
    color: white;
    border: none;
  }
  
  .editButton:hover {
    background-color: #eeb405; /* Darker yellow on hover */
  }
  
  .deleteButton {
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: none;
    background-color: #dc3545; /* Red color */
    color: white;
    max-width: 150px;
  }
  
  .deleteButton:hover {
    background-color: #c82333; /* Darker red on hover */
  }

  .commentAuthorInfo {
    color: black
  }

  .commentActions {
    display: flex;
    align-items: center;
  }

  .commentButtons {
    display: flex;
    align-items: center;
  }